.dark_blue_bg{
    background-color: darkblue;
}

.light_blue_bg{
    background-color: darkcyan;
}

.container{
    max-width: 1000px; 
    margin: 0px auto;
    font-size: 1.5rem;  
}

.text-align{
    text-align:center;
}

.margin{
    margin-bottom: 1rem;
    margin-top: 1rem;
}