*{
    padding: 0px;
    margin : 0px;
    box-sizing:border-box ;
}

html{
    font-family: 'Roboto', 'Helvetica Neue', sans-serif;
}

.navbar{
    display: flex;
    align-items: center;
}

a{
    text-decoration: none;
}
li{
    list-style: none;
}